<div class="one">

    <div class="two">Forgot Password</div>

    <div class="three">
        <form (submit)="$event.preventDefault()">
            <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
            <br>
            <input type="password" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword" required>
            <input type="password" placeholder="New Password" [(ngModel)]="password" name="password" required>
            <button type="submit" (click)="resetPassword()">Reset Password</button>
        </form>
    </div>
    
   <div class="four"><button type="button" (click)="login()">Login</button></div>

</div>