
.one{
    height: 500px;
    width: 400px;
    border-width: 8px 0 0 0 ;
    border-color: rgb(0, 100, 150);
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    margin: auto auto;
}

.two {
  font-weight: 700;
  font-size: 30px;
  margin-top: 90px;
  display: flex;
  justify-content: center; 
  align-items: center;    
  color: rgb(34, 34, 34);
}


input {
  padding-left: 15px;
  height: 50px;
  width: 360px;
  margin: 10px 10px;
  border-radius: 5px;
  border: 2px solid rgb(100, 100, 100);
  border-width: 0 0 2px 0;
  background-color: transparent; 
  color: rgb(34, 34, 34);
}

input::placeholder {
  color: rgb(34, 34, 34);
  font-weight: 400;
  opacity: 80%;
}

form{
    margin-top: 70px;
    margin-bottom: 10px;
}

input:focus{
    border-width: 3px;
    outline: none;
    border-color: rgb(231, 231, 231);
    border-width: 0 0 2px 0;
}

.three button {
  padding: 10px;
  border : none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  width: 380px;
  margin-left: 10px;
  height: 50px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(0, 100, 150);
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.three button:hover {
  background-color: rgb(74, 195, 255);
  color: white;
}

.four{
    margin-top: 12px;
}


.four button{
  padding: 10px;
  border : none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  margin-left: 315px;
  height: 20px;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  color:  rgb(0, 100, 150);
  border-radius: 5px;
}

.four button:hover {
  color: rgb(74, 195, 255);
}